* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 1rem 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header begins  */

#header {
  max-height: 15vh;
  /* background-color: burlywood; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 3rem 2rem;
  margin: 2rem 3rem;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 9, 88);
  font-size: 1.3rem;
  font-weight: bolder;
}

.fa-free-code-camp {
  font-size: 2.6rem;
  padding-right: 0.5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links > li {
  padding: 2rem, 3rem;
}

.nav-links > li > a {
  color: rgb(78, 76, 76);
}

#nav-section-links > li > a:hover,
#nav-section-links > li > a:active {
  color: rgb(245, 9, 88);
  font-size: 1.3rem;
  font-weight: bolder;
}

#home {
  color: rgb(245, 9, 88);
  font-size: 1.3rem;
  font-weight: bolder;
}

#nav-section-links > li {
  padding-right: 3rem;
  font-size: 1.1rem;
}

#nav-icons > li {
  font-size: 1.4rem;
  padding-right: 3rem;
}

#nav-icons > li > a:hover,
#nav-icons > li > a:hover {
  padding: 0.2rem;
  background-color: rgb(235, 231, 231);
}

#nav-icons > li:first-child > a {
  padding: 0.2rem;
  background-color: rgb(235, 231, 231);
}

#nav-icons > li:nth-child(3) {
  padding-right: 2rem;
}

/* content */
#content {
  z-index: -1;
}

/* hero section starts */

#hero {
  background: radial-gradient(circle, #f8dff04b, rgb(250, 176, 240));
  border-radius: 20px;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 2rem 4rem;
  margin-bottom: 6rem;
}

#hero-image {
  border-radius: 50%;
  width: 33vw;
  height: 60vh;
}

#before-fashion {
  letter-spacing: 0.05rem;
  margin-bottom: 0;
}

#fashion {
  font-size: 8.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#after-fashion {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

#explore {
  color: white;
  background-color: rgb(238, 104, 151);
  padding: 1rem 3rem;
  border-radius: 10px;
  margin-top: 2rem;
}

/* collection section begins */

.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.collection-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem;
  border-bottom: 1px solid;
  border-bottom-color: rgb(238, 104, 151);
  margin-bottom: 0;
}

.collection-h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

#categories {
  display: flex;
  justify-content: space-between;
}

#categories > li {
  margin: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: 600;
  color: rgb(10, 10, 58);
  box-shadow: 1px 1px 3px #b1acac;
}

#categories > li:hover,
#categories > li:active {
  background-color: rgb(238, 104, 151);
  color: white;
  cursor: pointer;
}

.collections-items-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 3rem;
}

.items-display-list {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
}

#collections-items-display-list {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.collection-item {
  width: 100%;
  border-radius: 10px;
  background-color: #fcf7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-holder {
  background-color: rgb(241, 202, 236);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.image-holder > img {
  width: 20vw;
  height: 35vh;
}

.description {
  padding: 0.5rem 2rem;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.price-rating span i {
  color: rgb(238, 104, 151);
}

.price {
  color: white;
  background-color: rgb(238, 104, 151);
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
}

/* categories section */

#categories-items-display-list {
  width: 100%;
  grid-template-columns: repeat(4, minmax(15rem, 1fr));
}

#categories-items-display-list .image-holder {
  background-color: rgb(241, 238, 238);
}

#categories-items-display-list .image-holder:hover {
  background-color: rgb(241, 202, 236);
}


#categories-items-display-list .image-holder > img {
  width: 20vw;
  height: 40vh;
}


/* footer starts*/

footer {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(5, minmax(13rem, 1fr));
  padding: 4rem 2rem;
  padding-left: 4rem;
  margin-left: 0;
  margin-right: 0;
  background-color: rgb(247, 223, 230);
}

.footer-display {
  display: flex;
  flex-direction: column;
}

#logo-section {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo-section #logo {
  margin-bottom: 2rem;
}

#logo-section p {
  line-height: 2rem;
}

#socials{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 0.05rem 1.5rem;
 width: 100%;
 align-items: center;
 margin-top: 2rem;
 margin-bottom: 2rem;
}

#socials li i{
  background-color: rgb(245, 9, 88);
  padding: 0.4rem;
  font-size: 1rem;
  color: white;
  border-radius: 50%;
}

#copyright {
  color: rgb(245, 9, 88);
  margin-bottom: 4rem;
}

.topic {
  font-size: large;
  font-weight: bold;
  margin-bottom: 2rem;
}

.footer-display ul li {
  margin-bottom: 1.5rem;
}

.footer-display i {
  margin-right: 0.5rem;
 background-color: rgb(245, 9, 88);
 font-size: 0.8rem;
  padding: 0.36rem;
  color: white;
  border-radius: 50%;
}